.about-us-text {
    text-align: center;
    padding: 15px 0 10px;
    color: white;
    font-size: 24px;
    grid-column: 1 / -1;
  }
  
  .about-text-img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #286345;
  }
  
  .about-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-column: 1;
    color: white;
    padding: 10px 10px 10px 50px;
    max-width: 100%;
    width: 100%;
  }
  
  .about-text-container h2 {
    font-size: 3rem;
    font-family: markazi-text, serif;
    color: #F4CE14;
    max-width: 600px;
    width: 100%;
    margin: 50px 0 0;
  }
  
  .about-text-container h3 {
    font-size: 1.5rem;
    max-width: 600px;
    width: 100%;
    margin: 0 0 30px;
  }
  
  .about-text-container p {
    line-height: 1.5;
    font-size: 14px;
    max-width: 600px;
    width: 100%;
    margin: 10px 10px 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .about-images-container {
    position: relative;
    margin-top: 40px;
    grid-column: 2;
    height: 400px;
    width: 600px;
  }
  
  .MAAA {
    position: absolute;
    z-index: 1;
    left: 320px;
    top: 10px;
    width: 250px;
  }
  
  
  .MAAB:hover {
    bottom: -55px;
    left: 40px;
  }
  
  .MAAA img {
    width: 300px;
    height: 380px;
    border-radius: 15px;
    object-fit: cover;
    object-position: right;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.3);
  }
  
  
  .MAAB {
    position: absolute;
    z-index: 0;
    left: 100px;
    bottom: -50px;
    width: 220px;
    transition: all 0.1s ease-in-out;
  }
  
  .MAAB img {
    width: 280px;
    height: 330px;
    border-radius: 15px;
    object-fit: cover;
    object-position: right;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.3);
  }