.testimonial-1 {
    grid-column: 2 / 3;
  }
  
  .testimonial-2 {
    grid-column: 3 / 4;
  }
  
  .testimonial-3 {
    grid-column: 4 / 5;
  }
  
  .testimonial-4 {
    grid-column: 5 / 6;
  }
  
  .testimonial {
    padding: 15px; /* Add some padding */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
    border-radius: 8px; /* Optional: Make the corners rounded */
    background-color: #f8f2d5;
    width: 250px;
    height: 300px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .testimonial .name {
    text-align: left;
  }
  
  .testimonial img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .testimonial p {
    margin: 0px 10px 40px 10px;
    padding-top: 0;
    line-height: 1.5;
  }
  
  
  .photo-rating {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 3px;
    padding-bottom: 1px;
  }
  
  #testimonials-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
  }